{% extends "_base.html" %}
{% block content %}

<div class="body-content">
  <div class="container">
    <h1>About</h1>
    <hr><br>
    <div class="row">
        <div class="col-sm-5">
            <p>Image Caption through AI</p>
            <p>Image Captioning is the process of generating a textual description of an image. It is a challenging problem in computer vision and natural language processing. The goal of this project is to build a deep learning model that can generate a caption for an image. The model will be trained on the Flickr8k dataset, which contains 8,000 images that are each paired with five different captions.</p>
            <p>Image Captioning is a challenging problem in computer vision and natural language processing. The goal of this project is to build a deep learning model that can generate a caption for an image. The model will be trained on the Flickr8k dataset, which contains 8,000 images that are each paired with five different captions.</p>
            
        </div>
        <div class="col-sm-7">
            <img src="https://kelvinxu.github.io/projects/diags/model_diag.png" alt="Image Captioning" width="500" height="300">
        </div>

    </div>

    <br><br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Team Members</h3>
            <ul>
                <li>Siddhant Sancheti</li>
                    <ul>
                        <li>LinkedIn : <a href="https://www.linkedin.com/in/siddhant-sancheti/">https://www.linkedin.com/in/siddhant-sancheti/</a></li>
                        <li>GitHub : <a href="https://github.com/sidsanc">https://github.com/sidsanc</a> </li>
                        
                    </ul>
                <br>
                <li>Pranathi Krishna Mokshagundam</li>
                <ul>
                    <li>LinkedIn : <a href="https://www.linkedin.com/in/pranathikrishna">https://www.linkedin.com/in/pranathikrishna/</a></li>
                    <li>GitHub : <a href="https://github.com/pranukrish">https://github.com/pranukrish</a> </li>
                </ul>

                <br>
               
            </ul>
        </div>
    </div>


  </div>
</div>

{% endblock %}